.jumbotron  {
    background-image: url("https://images.wallpaperscraft.com/image/dark_spots_texture_background_50355_1280x720.jpg");
    background-size: auto;
    height: 350px;
    background-color: white;
    /* background-repeat: no-repeat; */
}

.rules {
    margin-top: 4rem;
    font-size: 2rem;
}

.title {
margin-bottom: 2rem;
font-size: 5rem;
}


